# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest and coverage
.coverage
.tox/
.nox/
.pytest_cache/

# MyPy
.mypy_cache/

# VS Code
.vscode/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
.envrc
.venv
